.App.light {
  --bg-color: #fce8c5;
  --inverted-bg-color: #060d5e;

  --primary-color: #be8abe;
  --secondary-color: #7e5b7e;
  --inverted-primary-color: #30b90a;
  --inverted-secondary-color: #1e7008;
}
